.button {
    display: none;
}

#timeline .event .content > * {
    transition: opacity 0 !important;
    opacity: 1 !important;
}

#timeline .event .image {
    transition: filter 0 !important;
    filter: grayscale(0%) contrast(30%) brightness(150%) !important;
}

* {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

#timeline .event {
    min-height: 25vh !important;
    background-image: none !important;
    background: rgba(255, 255, 255, 50%);
    page-break-inside: avoid;
}

#timeline .content {
    text-shadow: none !important;
}

#qr-code {
    display: inline-block;
}

figure {
    display: none !important;
}