:root {
    --text-size: 24px;
    --caption-size: 20px;
    --title-size: 40px;
    --outer-margins: 72px;
    --timeline-thickness: 24px;
    --bullet-size: 100px;
    --bullet-text-size: 30px;

}


.button {
    display: none;
}


#timeline .event .content > * {
    transition: opacity 0 !important;
    opacity: 1 !important;
}

#timeline .event .image {
    transition: filter 0 !important;
    filter: grayscale(0%) contrast(30%) brightness(150%) blur(4px) !important;
}

* {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

#timeline .event {
    min-height: 25vh !important;
    background-image: none !important;
    background: rgba(255, 255, 255, 50%);
    page-break-inside: avoid;
}

#timeline .content {
    text-shadow: none !important;
}
/*
figure {
    display: none !important;
}
*/
#qr-code {
    display: inline-block !important;
}

.no-print {
    display: none !important;
}





#timeline .event {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#timeline .bullet-line {
    flex-direction: row;
    margin-left: 0;
    margin-top: var(--outer-margins);
}

#timeline .content-wrapper {
    margin: auto;
    margin-top: var(--outer-margins);
    overflow: hidden;
}

#timeline .bullet span {
    color: white;
    transform: scale(0.9);
    font-weight: bold;
    font-size: var(--bullet-text-size);
}

#timeline .line, #timeline .line-start, #timeline .line-end {
    border-top: var(--timeline-thickness) solid var(--timeline-color);
    margin-top: calc((var(--bullet-size) - var(--timeline-thickness)) / 2);
    border-left: none;
    margin-left: 0;
}

#timeline .line-start {
    border-left: none;
    border-top: none;
}

#timeline .line-end {
    border-left: none;
    border-top: var(--timeline-thickness) dashed var(--timeline-color);
}