:root {
    --text-size: 20px;
    --caption-size: 16px;
    --title-size: 32px;
    --outer-margins: 72px;
    --timeline-thickness: 18px;
    --bullet-size: 80px;
    --bullet-text-size: 24px;

}


.button {
    display: none;
}


#timeline .event .content > * {
    transition: opacity 0 !important;
    opacity: 1 !important;
}

#timeline .event .image {
    transition: filter 0 !important;
    filter: grayscale(0%) contrast(30%) brightness(150%) blur(4px) !important;
}

* {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

#timeline .event {
    min-height: 25vh !important;
    background-image: none !important;
    background: rgba(255, 255, 255, 50%);
    page-break-inside: avoid;
}

#timeline .content {
    text-shadow: none !important;
}
/*
figure {
    display: none !important;
}
*/
#qr-code {
    display: inline-block !important;
}

.no-print {
    display: none !important;
}