:root {
    --red: #E72C34;
    --black: rgb(36, 36, 36);
    --timeline-thickness: 12px;
    --timeline-color: var(--red);
    --bullet-size: 54px;
    --text-size: 16px;
    --title-size: 24px;
    --transition-time: 1s;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    /*
    margin: auto;
    max-width: 1024px;
    padding: 16px;
    */
}

#timeline {
    font-family: "Inter", sans-serif;
    font-size: var(--text-size);
    color: var(--black);
}

#timeline .bullet-line {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 16px;
}

#timeline .bullet {
    border-radius: var(--bullet-size);
    background:  var(--timeline-color);
    width: var(--bullet-size);
    height: var(--bullet-size);
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1.1);
}

#timeline .bullet span {
    color: white;
    transform: scale(0.9);
    font-weight: bold;
}

#timeline .line, #timeline .line-start, #timeline .line-end {
    /*width: var(--timeline-thickness);*/
    /*background:  var(--timeline-color);*/
    border-left: var(--timeline-thickness) solid var(--timeline-color);
    margin-left: calc((var(--bullet-size) - var(--timeline-thickness)) / 2);
    flex-grow: 1;
    flex-shrink: 1;
}

#timeline .line-start {
    /*background: linear-gradient(transparent, var(--timeline-color));*/
    border-left: none;
}

#timeline .line-end {
    /*background: linear-gradient(var(--timeline-color), transparent);*/
    border-left: var(--timeline-thickness) dashed var(--timeline-color);
}

#timeline .event {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    position: relative;
    background: rgba(255, 255, 255, 50%);
}


#timeline .image {
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    filter: grayscale(100%) contrast(20%) brightness(150%);
    transition: filter var(--transition-time);
}

#timeline .event.focused .image {
    filter: grayscale(0%) contrast(20%) brightness(150%);
}

#timeline .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
}

#timeline .date {
    background: var(--red);
    color: white;
    padding: 8px;
    font-style: italic;
    padding-bottom: 0;
}

#timeline .event .content > * {
    opacity: 0;
    transition: opacity var(--transition-time);
}

#timeline .event.focused .content > * {
    opacity: 1;
}

#timeline .content {
    max-width: 768px;
}

#timeline .content h2 {
    color: var(--red);
    font-weight: bold;
    font-size: var(--title-size);
    text-transform: uppercase;
}

#timeline .content img {
    width: 100%;
}

.button {
    padding: 16px;
    background: var(--red);
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

figure {
    margin: 0;
}

figcaption {
    font-style: italic;
}

.todo {
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}